{% extends "admin/delete_confirmation.html" %}

{% block content %}
    Удалить <a href="{% url 'admin:compositions_soklan_change' object.id %}">{{ object }}</a>
    {{ object.char.rase }} {{ object.rank }}
    <form method="post">{% csrf_token %}
    <div>
    <input type="hidden" name="post" value="yes">
    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
    {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
    <p>
        <label for="comment">Комментарий</label>
        <input type="text" name="comment" id="comment">
    </p>
    <input type="submit" value="Да, удалить">
    <a href="#" class="button cancel-link">Нет, вернуться назад</a>
    </div>
    </form>
{% endblock %}